
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(67, 151, 225, 0.833);
}

#game-board{
  width: 2500px
  
}



.hammer-up{
  cursor: url('images/mouse/hammer-up-small.png'),auto;
}

.hammer-down{
  cursor: url('images/mouse/hammer-down-small.png'), auto;
 }


.flex-container{
  
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.flex{
  display: flex;
}

.score{
  padding-left: 20px;
}

.score, .time{
  width: 25%;
  
 justify-content: space-around;
 font-size: 1.75em
}
 
input{
  border: 3px solid rgb(245, 178, 71);
  text-align: center;
  width: auto;
  padding: 6px 6px 4px;
  font-size: 1.5em;
  background-color: rgb(195, 11, 11);
  color: rgb(245, 178, 71);
}


 
 .row{
  width: 100%;
  display: flex;
} 





.row2, .row1{
justify-content: space-around;
align-items: center;
} 



.hide{
  display:none;
}


.inDiv{
  justify-content: center;
  align-items: center;
  height: 355px;
  width: 500px;
  background-color: rgb(227, 218, 218);
 display: flex;

}


.backBlack{
  background-color: black;
}


   /* IMAGES */


.pics{
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  height:90%;
  width: 90%;
 
}

/* ---HIT 14(3) */
/* 1 */
.bootsImg{
  background-image: url('images/hit/bootstrap-2-transparent.png');
}
/* 2 */
.cssImg{
  background-image: url('images/hit/css3-logo-transparent.png');
}
/* 3 */
.curlyImg{
  background-image: url('images/hit/curly-braces.png');
}

/* 4 */
.gitImg{
  background-image: url('images/hit/github-octacat.png');
}

/* 5 */
.hTagImg{
  background-image: url('images/hit/html-tag.png');
}
/* 6 */
.htmlImg{
  background-image: url('images/hit/html5-transparent.png');
}
/* 7 */
.brokenImg{
  background-image: url('images/hit/image-broken.png');
}
/* 8 */
.jasmineImg{
  background-image: url('images/hit/jasmine-logo-transparent.png');
}
/* 9 */
.jsImg{
  background-image: url('images/hit/javascript-icon.png');
}
/* 10 */
.canvasImg{
  background-image: url('images/hit/logo-canvas.png');
}
/* 11 */
.wheelImg{
  background-image: url('images/hit/macWheelDeath.gif');
}
/* 12 */
.termImg{
  background-image: url('images/hit/terminal.png');
}

/* ----- see which better--- */

/* 13 */
.collBImg{
  background-image: url('images/hit/canvasCollB.png');
}
/* ~~or ~~*/

/* 14 */
.collAllImg{
  background-image: url('images/hit/canvasCollAll.png');
}





/* ----NO-HIT  9 ------*/
/* 1 */
.hiredImg{
  background-image: url('images/nohit/you-hired.png');
}
/* 2 */
.moneyImg{
  background-image: url('images/nohit/computer-money.png');
}
/* 3 */
.kittyImg{
  background-image: url('images/nohit/cute-kittiepng.png');
}

/* 4 */
.puppyImg{
  background-image: url('images/nohit/cute-puppy.png');
}

/* 5 */
.ofMonthImg{
  background-image: url('images/nohit/employee-of-the-month.png');
}

/* 6 */
.gradImg{
  background-image: url('images/nohit/graduation-day.png'); 
}

/* 7 */
.hiringImg{
  background-image: url('images/nohit/hire-recruitment.png');
}

/* 8 */
.beerImg{
  background-image: url('images/nohit/ih-beer-mug.png');
}

/* 9 */
.kegImg{
  background-image: url('images/nohit/ih-kegerator.png');
 
}

/* -------------- */
#logo{
  height: 200px;
}

#subLogo{
 position: absolute;
 top: 55px; 
 height: 80px;
}

.board {
  position: absolute;
  width: 1200px;
  left: 200px;
  top: 100px;
}

/* computers */

.col{
  
  width: 900px;
  height: 555px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}


.glass{
  background-image: url('images/overlay/a-glass-screen-overlay.png');
  position: relative;
  background-size: cover;
  background-position: 0 0;
  background-repeat: no-repeat;
  
 
}

.glass-holeR {
  background-image: url('images/overlay/a-realistic-hole-glass.png');
  position: relative;
  background-size: 100% 100%;
  background-position: center center;
  background-repeat: no-repeat;
} 

/* 1 */
#comp1{
  background-image: url('images/computers/front-screen-macpro.png') 
 
}

.screen1{
  position: relative;
  top: -40px;
  width: 686px;
  height: 438px;
}



 /* 3  */
#comp2{
  background-image: url('images/computers/front-screen-hp.png');
  background-size: 730px;
}

.screen2{
  position: relative;
  top: -103px;
  width: 515px;
  height: 295px;
}


/* 3 */
#comp3{
  background-image: url('images/computers/front-screen-acer.png');
  background-size: 830px;
}
  
.screen3{
  position: relative;
  top: -54px;
  width: 589px;
  height: 330px;
  right: 5.5px;
}

 /* 4  */
 #comp4{    
  background-image: url('images/computers/front-screen-asus.png');
  background-size: 900px;
  height: 700px;
}

.screen4{
  position: relative;
  top: -105px;
  width: 787px;
  height: 450px;
}


  /* 5  */
  #comp5{
    background-image: url('images/computers/front-screen-windows.png');
    background-position: center -55px;
    background-size: 850px;
    height: 700px;
  } 
  
  .screen5{
    position: relative;
    top: -54px;
    width: 754px;
    height: 475px;
  }

/* 6 */
#comp6{
  background-image: url('images/computers/front-screen-mac.png');
  background-size: 840px;
  height: 700px;
}
  
.screen6{
  position: relative;
  top: -84px;
  width: 774px;
  height: 435px;
}



/* INFORMATION PAGE */

#info{
  position: absolute;
  width: 2800px;
  height: 1515px;
  background: rgba(255, 255, 255, 0.95);
  z-index: 6;
}


.xButton{
  border: 3px solid rgb(245, 178, 71);
  text-align: center;
  width: auto;
  padding: 6px 6px 4px;
  font-size: 1.5em;
  background-color: rgb(195, 11, 11);
  color: rgb(245, 178, 71);
  font-size: 4em;
}

.laps{
  align-items: center;
  justify-content: center;
  height:500px;
  width: 700px;
}

.desks{
  height:400px;
  width: auto;
}

